bin/
obj/
/packages/
src/.vs
.idea
PickPoint/PickPoint.Lib/obj/Debug/net6.0/PickPoint.Lib.assets.cache
PickPoint/PickPoint.Lib/obj/Debug/net6.0/PickPoint.Lib.csproj.AssemblyReference.cache
PickPoint/PickPoint.Lib/obj/PickPoint.Lib.csproj.nuget.dgspec.json
PickPoint/PickPoint.Lib/obj/PickPoint.Lib.csproj.nuget.g.props
PickPoint/PickPoint.Lib/obj/PickPoint.Lib.csproj.nuget.g.targets
PickPoint/PickPoint.Lib/obj/project.assets.json
PickPoint/PickPoint.Lib/obj/project.nuget.cache
PickPoint/PickPoint.Lib/obj/project.packagespec.json
PickPoint/PickPoint.Lib/obj/rider.project.restore.info
PickPoint/PickPoint.RestApi/obj/Debug/net6.0/PickPoint.RestApi.assets.cache
PickPoint/PickPoint.RestApi/obj/Debug/net6.0/PickPoint.RestApi.csproj.AssemblyReference.cache
PickPoint/PickPoint.RestApi/obj/PickPoint.RestApi.csproj.nuget.dgspec.json
PickPoint/PickPoint.RestApi/obj/PickPoint.RestApi.csproj.nuget.g.props
PickPoint/PickPoint.RestApi/obj/PickPoint.RestApi.csproj.nuget.g.targets
PickPoint/PickPoint.RestApi/obj/project.assets.json
PickPoint/PickPoint.RestApi/obj/project.nuget.cache
PickPoint/PickPoint.RestApi/obj/project.packagespec.json
PickPoint/PickPoint.RestApi/obj/rider.project.restore.info
PickPoint/PickPoint.UnitTests/obj/rider.project.restore.info
